@import '../utils/breakpoints';
@import '../utils/button';
@import '../utils/theme';
@import '../utils/flexbox';
@import '../utils/item-grid';

.hero {
  min-height: 100vh;
  padding: 4rem 0;
  background: linear-gradient(137.5deg, $color-secondary, $color-primary);
  color: white;
}

.heroContentContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;

  @include media-breakpoint-up(lg) {
    flex-flow: row-reverse nowrap;
    text-align: left;
  }
}

.iconContainer {
  flex: 100%;

  @include media-breakpoint-up(lg) {
    flex: none;
  }
}

.icon {
  height: 100vh;
  max-height: 8em;

  @include media-breakpoint-up(lg) {
    max-height: 12em;
  }
}

.title {
  @include media-breakpoint-up(lg) {
    margin-top: 0;
    word-spacing: 100vw;
  }
}

%h2 {
  display: inline;

  @include media-breakpoint-up(lg) {
    display: block;
  }
}

.eventDate {
  @extend %h2;
}

.eventVenue {
  @extend %h2;

  margin-bottom: 0;

  &::before {
    content: ' – ';

    @include media-breakpoint-up(lg) {
      content: '';
    }
  }
}

.eventAddress {
  display: none;
  margin-top: 0.5em;

  @include media-breakpoint-up(lg) {
    display: block;
  }
}

.registrationButton {
  @include outline-button(white, $color-secondary);

  margin-top: 1.25em;
  font-weight: bold;
}

.highlightsContainer {
  @include item-grid;
}

.presentationsContainer {
  display: flex;
  flex-wrap: wrap;

  @include gap(1rem);

  @include media-breakpoint-up(lg) {
    @include gap(2rem);
  }
}

.mapFrame {
  display: block;
  width: 100%;
  height: 30em;
  border: none;
  margin: 0 auto;
}

.sponsorLogosContainer {
  margin: -1rem;
  text-align: center;

  > * {
    margin: 1rem;
  }
}
