@import '../utils/breakpoints';
@import '../utils/flexbox';

.hero {
  min-height: 100vh;
  padding: 4rem 0;
  background: linear-gradient(137.5deg, #25255c, #771215);
  color: white;
}

.heroContentContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;

  @include media-breakpoint-up(lg) {
    flex-flow: row-reverse nowrap;
    text-align: left;
  }
}

.iconContainer {
  flex: 100%;

  @include media-breakpoint-up(lg) {
    flex: none;
  }
}

.icon {
  height: 100vh;
  max-height: 8em;

  @include media-breakpoint-up(lg) {
    max-height: 12em;
  }
}

.title {
  @include media-breakpoint-up(lg) {
    word-spacing: 100vw;
  }
}

%h2 {
  display: inline;

  @include media-breakpoint-up(lg) {
    display: block;
  }
}

.eventDate {
  @extend %h2;
}

.eventVenue {
  @extend %h2;

  margin-bottom: 0;

  &::before {
    content: ' – ';

    @include media-breakpoint-up(lg) {
      content: '';
    }
  }
}

.eventAddress {
  display: none;
  margin-top: 0.5em;

  @include media-breakpoint-up(lg) {
    display: block;
  }
}

.highlightsContainer {
  display: flex;
  flex-wrap: wrap;

  @include gap(0.6225rem);

  @include media-breakpoint-up(lg) {
    @include gap(1rem 3rem);
  }
}

.highlight {
  flex: 100%;

  @include media-breakpoint-up(lg) {
    flex: 50%;
  }
}
