@import '../utils/breakpoints';
@import '../utils/button';
@import '../utils/theme';
@import '../utils/flexbox';
@import '../utils/item-grid';

.hero {
  background: linear-gradient(137.5deg, $color-secondary, $color-primary);
  background-attachment: fixed;
  color: white;

  > :first-child {
    padding-top: 4rem;
  }

  > :last-child {
    padding-bottom: 4rem;
  }
}

.heroContentContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;

  > :first-child {
    padding-top: 4rem;
  }

  > :last-child {
    padding-bottom: 4rem;
  }
}

.streamsSection {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;

  @include media-breakpoint-up(lg) {
    font-size: 3em;
  }
}

.registrationButton {
  @include outline-button(white, $color-secondary);

  margin-bottom: 1.25em;
  font-size: 1.25em;
  font-weight: bold;
}

.streamsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3em;
  text-align: center;

  @include media-breakpoint-up(lg) {
    flex-wrap: nowrap;

    @include gap(0 2rem);

    margin-bottom: 4em;
  }
}

.stream {
  flex: 100%;
}

.presentationsContainer {
  display: flex;
  flex-wrap: wrap;

  @include gap(0 1rem);

  @include media-breakpoint-up(lg) {
    @include gap(1rem);
  }
}

.highlightsContainer {
  @include item-grid;
}

.contactSection {
  background: #eee;
}

.locationSection {
  padding-bottom: 4em;
}

.presentationsSection {
  padding-bottom: 2em;
}

.locationSection,
.giveawaySection {
  background: #263238;
  color: white;
}

.mapFrame {
  display: block;
  width: 100%;
  height: 30em;
  border: none;
  margin: 0 auto;
}

.giveawayIllustrationImage {
  display: block;
  height: 4em;
  margin: 0 auto;

  @include media-breakpoint-up(md) {
    height: 6em;
  }
}

.appDownloadBadge {
  height: 2.5em;
  margin: 0.5em 1em;
}

.prizesIllustrationImage {
  display: block;
  width: 75%;
  padding: 1em 0 4em;
  margin: 0 auto;

  @include media-breakpoint-up(lg) {
    width: 50%;
  }
}

.contactInfosContainer {
  display: flex;
  flex-wrap: wrap;

  @include gap(1rem 0.5rem);

  margin-top: 0.5em;
  margin-bottom: 0;

  * {
    text-align: center;
  }

  @include media-breakpoint-up(lg) {
    flex-wrap: nowrap;
  }
}

.contactInfo {
  flex: 100%;

  @include media-breakpoint-up(lg) {
    flex: (1 / 3) * 100%;
  }
}
