@import '../utils/flexbox';

.root {
  padding: 1em 0;
  font-size: 2rem;
  text-align: center;
}

.iconsContainer {
  display: flex;
  max-width: 12em;
  justify-content: space-between;
  margin: 0 auto;
}
