@import '../utils/breakpoints';
@import '../utils/theme';

.root {
  display: flex;
  min-height: 100vh;
  align-items: center;
  padding: 3em 0;
  background: $gradient-primary;
  color: white;

  h1 {
    font-size: 1.5em;

    @include media-breakpoint-up(lg) {
      font-size: 2em;
    }
  }

  h2 {
    font-size: 1em;
  }

  h3 {
    font-size: 0.67em;
  }

  @include media-breakpoint-up(lg) {
    font-size: 1.5rem;
  }

  @include media-breakpoint-up(xl) {
    font-size: 1.75rem;
  }
}
