@import '../utils/breakpoints';
@import '../utils/theme';

.root {
  position: fixed;
  z-index: 1;
  width: 100%;
  padding: 1rem 0;
  background: $navbar-background;
}

.mainContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.brandAndTogglerContainer {
  display: flex;
  flex: 100%;
  justify-content: space-between;

  img {
    height: 2rem;
  }

  @include media-breakpoint-up(lg) {
    flex: initial;
  }
}

.navToggler {
  border: none;
  background: none;
  color: inherit;

  @include media-breakpoint-up(lg) {
    display: none;
  }
}

.navCollapsed {
  display: none;

  @include media-breakpoint-up(lg) {
    display: initial;
  }
}

.navItemsContainer {
  padding: 0;

  @include media-breakpoint-up(lg) {
    display: inline-block;
    margin: 0 -1em;
  }
}

.navItem {
  display: block;
  margin: 2em 0;

  &:last-child {
    margin-bottom: 0;
  }

  a {
    padding: 0.5em 0;
  }

  @include media-breakpoint-up(lg) {
    display: inline-block;
    margin: 0 1em;
  }
}
