@import '../utils/breakpoints';

.root {
  margin-top: 2rem;
  margin-bottom: 3rem;

  h1 {
    text-align: center;

    &:not(:first-child) {
      margin-top: 1.5em;

      @include media-breakpoint-up(lg) {
        margin-top: 3em;
      }
    }
  }

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 5rem;
  }
}
