@import '../utils/breakpoints';
@import '../utils/flexbox';

.root {
  display: block;
  width: 100%;
  border: none;
  background: none;
  color: inherit;
  text-align: left;

  &:focus {
    background: rgba(255, 255, 255, 0.1);
    outline: none;
  }
}

.article {
  display: flex;

  @include gap(0 1rem);

  @include media-breakpoint-up(lg) {
    @include gap(0 2rem);
  }
}

.presenterImageContainer {
  display: none;
  flex: 100%;
  text-align: center;

  @include media-breakpoint-up(lg) {
    display: block;
    flex: initial;
  }
}

.presenterImage {
  border-radius: 50%;
}

.timeAndLocationContainer {
  flex: 0 0 8ch;
  text-align: right;

  @include media-breakpoint-up(lg) {
    flex-basis: 11ch;
  }
}

.presentationDetailsContainer {
  flex: 1;
}

.time,
.title {
  margin-bottom: 0.25em;
  font-size: 1.15em;

  @include media-breakpoint-up(lg) {
    font-size: 1.5em;
  }
}

.location,
.presenterInfo {
  margin-top: 0;
}
