@import '../utils/breakpoints';
@import '../utils/flexbox';

.root {
  display: block;
  width: 100%;
  border: none;
  background: none;
  color: inherit;
  text-align: left;

  &:focus {
    background: rgba(255, 255, 255, 0.1);
    outline: none;
  }
}

.article {
  display: flex;
  flex-wrap: wrap;

  @include media-breakpoint-up(lg) {
    flex-wrap: nowrap;

    @include gap(0 2rem);
  }
}

.presenterImageContainer {
  flex: 100%;
  text-align: center;

  @include media-breakpoint-up(lg) {
    flex: initial;
  }
}

.presenterImage {
  border-radius: 50%;
}

.timeAndLocationContainer {
  text-align: right;
}

.presentationDetailsContainer {
  flex: 1;
}

@include media-breakpoint-up(lg) {
  .time,
  .title {
    margin-top: 1rem;
    margin-bottom: 0.25em;
  }

  .location,
  .presenterInfo {
    margin-top: 0;
  }

  .abstract {
    margin-bottom: 0;
  }
}
