@mixin button {
  display: inline-block;
  padding: 0.5em 1em;

  &:hover {
    text-decoration: none;
  }
}

@mixin outline-button($outlineColor, $hoverColor) {
  @include button;

  border: 0.25em solid $outlineColor;
  color: $outlineColor;

  &:hover {
    background-color: $outlineColor;
    color: $hoverColor;
  }
}
