@import '~normalize.css';
@import '../utils/theme';

html,
body {
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: $color-link;
  text-decoration: none;

  header &,
  footer & {
    color: inherit;
  }

  &:hover {
    text-decoration: underline;
  }
}

blockquote {
  padding: 0.25em 0.75em;
  border-left: 0.25em solid #e0e0e0;
  margin-left: 0;
  font-size: 1.25em;
  font-style: italic;
}

p {
  line-height: 1.5;
}

.text-center {
  text-align: center;
}
