@import '../utils/theme';

.root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.header {
  color: white;
}

.navbarBackground {
  background: $navbar-background;
}

.main {
  flex: 1;
}

.footer {
  background: $footer-background;
  color: white;

  img {
    filter: brightness(0) invert(1);
  }
}

.navLink {
  color: rgba(255, 255, 255, 0.75);

  &:hover {
    color: white;
    text-decoration: none;
  }
}

.navLinkActive {
  color: white;
  font-weight: bold;
}
