@import '../utils/theme';

.root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.header {
  color: white;
}

.main {
  flex: 1;
}

.footer {
  background: $footer-background;
  color: white;

  img {
    filter: brightness(0) invert(1);
  }
}
